<!DOCTYPE HTML>
<html>

<head>
  <title>Hobbies and Interests</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main">
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Brian<span class="logo_colour">Berg</span></a></h1>
          <h2>Striving to meet your business needs.</h2>
        </div>
      </div>
      <nav>
        <div id="menu_container">
		<ul class="sf-menu" id="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="family.html">Family</a></li>
			 <li><a href="hobbies.html">Hobbies & Interests</a></li>
            <li><a href="#">My Work</a>
              <ul>
				<li><a href="#">CSUPomona Work</a></li>
                <li><a href="../scrum/index.html">CIS 231 Scrum Website</a></li>
                <li><a href="cis304/cis304.html">CIS 304 Java Applet</a>
                </li>
               <!-- <li><a href="#">CIS 305 Database</a>
				 <ul>
                    <li><a href="#">Project 1</a></li>
                    <li><a href="#">Project 2</a></li>
                  </ul>
				</li>
                <li><a href="#">USCC CyberQuest Certificate</a></li>-->
              </ul>
            </li>
			<li><a href="aboutme.html">About Me</a></li>
            <li><a href="contact.html">Contact Me</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
			<div class="rss">
<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Frss.cnn.com%2Frss%2Fcnn_tech.rss&chan=title&num=5&utf=y&css=rss"  charset="UTF-8" type="text/javascript"></script>

<noscript>
<a href="http://feed2js.org//feed2js.php?src=http%3A%2F%2Frss.cnn.com%2Frss%2Fcnn_tech.rss&chan=title&num=5&utf=y&css=rss&html=y">View RSS feed</a>
</noscript>

			</div>
        </div>
      </div>
      <div class="content">
        <h1>Hobbies & Interests</h1>
		<p>My hobbies and interests are rather varied. I love to cook different types of food from different cultures, including, but not limited to; Mexican, Chinese, German, and American. Honestly I love to eat almost as much as I love to cook. One of styles of food that I make the most is traditional American style bbq, not to be confused with grilling a steak. This bbq is the type that takes 12+ hours to cook in a smoker over low heat. The smoker we use is a Weber Smokey Mountain. Mainly I make pulled pork and beef brisket. I’ve almost perfected my pulled pork recipe; however, the brisket has a long way to go until I am happy with it. 
		</p>
		<p>Another one of my hobbies is gardening, since I live with my parents I have a large yard to work with. Currently the plots of land that we have set aside for farming are currently in a fallow period, where nothing is growing. I also have a Japanese style garden that is a work in progress in the back of our property. We have many trees such as Lemon, Lime, Tangerine, and an Apple tree.  The reason I started to get into gardening is because I’ve found that you can usually grow something that tastes better at home than you can buy in a store. Recently I’ve become interested in auqaponics. This is style of farming where you grow your vegetables in a medium such as small pea-gravel which is watered periodically with water from something like a large aquarium. It can be incredibly efficient and 
		</p>
		<p>Another one of my hobbies is classic cars. I guess you could say that it runs in the family. One of my mom’s relatives has always collected ’57 Chevys. My dad has always wanted an old school roadster. And once I get the money for one I plan to buy a 60’s era muscle car and a few other cars that I just love the look of. I have always loved the way that old cars looked, they seem to have a soul and character that modern cars seem to have lost somewhere along the way. 
		</p>
		
      </div>
    </div>
    <footer>
      <p>Copyright &copy; Brian Berg | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
    </footer>
  </div>
  <p>&nbsp;</p>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="js/jquery.sooperfish.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
  </script>
</body>
</html>
