<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
	Mmmmmm.... beer
	</title>
<link rel="stylesheet" type="text/css" href="css/beerCSS2.css" />
</head>
<body>

<div id="container">
	<div id="header">
		<a href="index.html"> <img src="pictures/beerbanner3.png" alt="A banner with a stien and bottle of beer; beer for CIS231"/></a>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="topbeer.html">Top Beer</a></li>
			<li><a href="brewerylisting.html">Brewery Listing</a></li>
			<li><a href="aboutbeer.html">About</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
	</div>
	<div id="content">
		<h2>
			About Page
		</h2>
		<h4>Who we aim to serve:</h4>
		<p>
		   We aim to serve men and women over the age of 21 who love beer. Whether its a golden amber ale or a dark rich stout. This site brings them all together to talk about their favorite activities and their favorite beer!
		</p>
		<h4>What is this site about?</h4>
		<p>
		   This site is dedicated to the love, fascination, and pursuit of the perfect beer.
		</p>
		<h4>Why we are doing this:</h4>		
		<p>
		   Why are we doing this? Simple. Because everyone loves beer. Whether you drink once a year, a month, or once a day this site is for you. So that you can find the best beer in town and to find the next up and coming brew or activity. 
		</p>

	</div>
	<div id="footer">
		Copyright &#169 The Quarry, 2012
	</div>
</div>