<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
	Mmmmmm.... beer
	</title>
<link rel="stylesheet" type="text/css" href="css/beerCSS2.css" />
</head>
<body>

<div id="container">
	<div id="header">
		<a href="index.html"> <img src="pictures/beerbanner3.png" alt="A banner with a stien and bottle of beer; beer for CIS231"/></a>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="topbeer.html">Top Beer</a></li>
			<li><a href="brewerylisting.html">Brewery Listing</a></li>
			<li><a href="aboutbeer.html">About</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
	</div>
	<div id="content">
		<h2>
			Brewery Listing
		</h2>
		<p>
			<b><a href="http://hangar24brewery.com/">Hangar 24 Craft Brewery</a></b> - Located in Redlands, CA this brewery was founded by Ben Cook, a CSU San Bernardino graduate. Cook's passion for brewing led him to the University of Davis Master Brewers Program and upon completion of the program he founded a brewery just next to the Redlands Airport, which is where the name "Hangar 24" came from. 
			The beers provided include such year-round selections as: Orange Wheat, Amarillo Pale Ale, and Chocolate Porter. Seasonal sections include: California Spring Beer, Oktoberfest, and Hullabaloo. Hangar 24 offers weekly events on Wednesday's and Fridays for beer-lovers in the area. Wednesdays Music provides a new live band every Wednesday for those in attendance. Friday's highlight a specific cask of beer that is being brewed for a 4pm tasting event.
		</p>
		<p>
			<b><a href="http://www.sierranevada.com/">Sierra Nevada Brewing Co.</a></b> -  Founded in 1979 in Chico, California by Ken Grossman, the Sierra Nevada Brewing Co. has been brewing beer locally since 1980; its first batch of beer being the Pale Ale. Throughout the last 32 years the brewery has made a strong effort to stay true to its roots with Grossman still being heavily involved in the brewery operations.
			Some of the beers provided by Sierra Nevada Brewing Co. include: Pale Ale, Kellerweis, Stout, and Porter. Their seasonal selections include: Ruthless Rye, Summerfest, Tumbler, and Celebration Ale. The brewery offers tours every day of the week. The tours last about one and half hours and are free of charge. In addition to the tours the brewery also has a 350-seat venue named simply, "The Big Room," where live music is available for brewery patrons. The events at The Big Room are open to people of all ages and sell out quickly.
		</p>
		<p>
			<b><a href="http://goldenroad.la/">Golden Road Brewery</a></b> - From their website: Golden Road Brewing was founded in 2011 by Tony Yanow (of local beer-focused restaurants Tony's Darts Away and Mohawk Bend) and Meg Gill (formerly of Oskar Blues Brewery and Speakeasy Ales & Lagers). 
		</p>

	</div>
	<div id="footer">
		Copyright &#169 The Quarry, 2012
	</div>
</div>