<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
	Mmmmmm.... beer
	</title>
<link rel="stylesheet" type="text/css" href="css/beerCSS2.css" />
</head>
<body>

<div id="container">
	<div id="header">
		<a href="index.html"> <img src="pictures/beerbanner3.png" alt="A banner with a stien and bottle of beer; beer for CIS231"/></a>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="topbeer.html">Top Beer</a></li>
			<li><a href="brewerylisting.html">Brewery Listing</a></li>
			<li><a href="aboutbeer.html">About</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
	</div>
	<div id="content">
		<h2>
			Contact Us!
		</h2>
		<p>
		If you would like to contact us please email us at Admin@thequarry.com! Or just shoot us a message on the forum and we will respond to it as quickly as possible.
		</p>


	</div>
	<div id="footer">
		Copyright &#169 The Quarry, 2012
	</div>
</div>