<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
	Mmmmmm.... beer
	</title>
<link rel="stylesheet" type="text/css" href="css/beerCSS2.css" />
</head>
<body>

<div id="container">
	<div id="header">
		<a href="index.html"> <img src="pictures/beerbanner3.png" alt="A banner with a stien and bottle of beer; beer for CIS231"/></a>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="topbeer.html">Top Beer</a></li>
			<li><a href="brewerylisting.html">Brewery Listing</a></li>
			<li><a href="aboutbeer.html">About</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
	</div>
	<div id="content">
		<h2>
			St. Patrick's Day! 
		</h2>
		<h6> 
			 Posted on 3/07/2012
		</h6>
		<p>
			St. Patrick's Day is coming up so everyone should be grabbing a pint of Guinness and a corned beef sandwich! 
		</p>
		<p>
			For your convenience here is a link to Alton Brown's homemade <b><a href= "http://www.foodnetwork.com/recipes/alton-brown/corned-beef-recipe/index.html">corned beef recipe</a></b> and a link to find the nearest <b><a href = "http://www.yelp.com/search?find_desc=pubs&find_loc=&ns=1#l=g:-118.47930908203126,33.669496972795535,-117.65533447265625,34.35704160076073">pub</a></b>!		
		</p>

	</div>
	<div id="footer">
		Copyright &#169 The Quarry, 2012
	</div>
</div>