<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
	Mmmmmm.... beer
	</title>
<link rel="stylesheet" type="text/css" href="css/beerCSS2.css" />
</head>
<body>

<div id="container">
	<div id="header">
		<a href="index.html"> <img src="pictures/beerbanner3.png" alt="A banner with a stien and bottle of beer; beer for CIS231"/></a>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="topbeer.html">Top Beer</a></li>
			<li><a href="brewerylisting.html">Brewery Listing</a></li>
			<li><a href="aboutbeer.html">About</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
	</div>
	<div id="content">
		<h2>
			Top Beer List
		</h2>
		<p>
			Locally Brewed: 
			<ul>
			<li><a href="http://hangar24brewery.com/" class="beer1">Hangar 24 Amarillo Pale Ale<span><img src="http://www.csupomona.edu/~bnberg/scrum/LiveSite/pictures/hanger.jpg" alt = "Hanger 24" height="250" width="250"/></span></a></li>
			<li><a href="http://www.sierranevada.com/" class="beer1">Sierra Nevada Kellerweis<span><img src="http://www.csupomona.edu/~bnberg/scrum/LiveSite/pictures/sierra.jpg" alt = "Sierra Navada beer" height="250" width="250"/></span></a></li>
			</ul>
			Other Brewers: 
			<ul>
			<li><a href="http://www.samueladams.com/age-gate.aspx?ReturnUrl=%2findex.aspx" class="beer1">Samuel Adams Winter Lager<span><img src="pictures/samadams.jpg" alt="Samuel Adams" height="250" width="250"/></span></a> </li>
			<li><a href="https://leinie.com/AV.aspx?returnUrl=default.aspx" class="beer1">Leinenkugel's Sunset Wheat<span><img src="pictures/sunset.jpeg" alt="Leinenkugel Sunset" height="250" width="250"/></span></a></li>
			<li><a href="http://www.guinness.com/" class="beer1">Guinness<span><img src="pictures/guinness.jpg" height="250" alt="glass of Guinness" width="250"/></span></a></li>
			<li><a href="http://www.bluemoonbrewingcompany.com/" class="beer1">Blue Moon<span><img src="pictures/bluemoon.jpg" height="250" alt="Blue Moon" width="250"/></span></a></li>
			<li><a href="http://www.shocktopbeer.com/s/index.php/age-gate/" class="beer1">Shock Top<span><img src="pictures/shocktop.jpg" height="250" alt="Shock Top" width="250"/></span></a></li>
			<li><a href="http://www.mexicoviapacifico.com/" class="beer1">Pacifico<span><img src="pictures/pacifico.jpg" height="250" alt="Pacifico" width="250"/></span></a></li>
			</ul>

		</p>
	

	</div>
	<div id="footer">
		Copyright &#169 The Quarry, 2012
	</div>
</div>